.our-menu {
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
}
.our-menu__group {
    display: flex;
    flex-direction: column;
}
.our-menu__title {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
}
.our-menu__divider {
    width: auto;
    height: 9px;
    background: #F2C94C;
}
.our-menu__description {
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.09em;
}
.our-menu__images {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.our-menu__left {
    width: 576px;
    height: 356px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85.42%, rgba(0, 0, 0, 0.8) 100%), url(../images/menu-pizza.png);
    border-radius: 5px;
}
.our-menu__right {
    width: 576px;
    height: 356px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.48%, rgba(0, 0, 0, 0.8) 100%), url(../images/menu-dough.png);
    border-radius: 5px;
}
.our-menu__button {
    width: 129px;
    height: 54px;
    background-color: transparent;
    border: 1px solid #F2C94C;
    color: #F2C94C;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    &:hover {
        background: #F2C94C;
        color: black;
        cursor: pointer;
    }
}