header {
  height: 80px;
}

.navbar {
  position: fixed;
  z-index: 2;
  background: black -webkit-gradient(linear, left top, left bottom, from(#070707), to(black));
  background: black linear-gradient(180deg, #070707, black);
  height: 80px;
  width: 67.0138888888889%;
  padding: 0 3.99305555555555%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 24px;
}

.navbar__menu {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.navbar__menu nav li:hover {
  border-bottom: 1px solid white;
}

.navbar__menu nav li a {
  text-decoration: none;
  color: white;
}

.responsive-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Top Section */
.hero {
  height: 953px;
  left: -1px;
  top: 75px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0.01%, rgba(39, 39, 39, 0.1)), color-stop(13.02%, rgba(0, 0, 0, 0.13)), to(#000000)), url("../images/hero.png") no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.1) 0.01%, rgba(0, 0, 0, 0.13) 13.02%, #000000 100%), url("../images/hero.png") no-repeat;
  -webkit-filter: drop-shadow(3px 6px 18px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(3px 6px 18px rgba(0, 0, 0, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.hero__title {
  text-transform: uppercase;
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  font-size: 72px;
  border-bottom: 4px solid #F2C94C;
}

.hero__divider {
  width: 482px;
  height: 4px;
  left: 488px;
  top: 350px;
  background: #F2C94C;
  -webkit-box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}

.hero__description {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  width: 51.736111111111%;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.09em;
}

.hero__image {
  width: 912px;
  height: 378px;
  background: url("/images/hero-pizza1.png") no-repeat center;
  -webkit-filter: drop-shadow(18px 11px 29px rgba(0, 0, 0, 0.61));
          filter: drop-shadow(18px 11px 29px rgba(0, 0, 0, 0.61));
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* Bottom Section */
.bottom-hero {
  width: auto;
  height: auto;
  background: url(../images/hero.png) no-repeat;
  padding: 0;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-hero__image {
  height: 448px;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url("/images/hero-pizza.png") no-repeat center;
  -webkit-filter: drop-shadow(18px 11px 29px rgba(0, 0, 0, 0.61));
          filter: drop-shadow(18px 11px 29px rgba(0, 0, 0, 0.61));
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.social-icons .instagram {
  margin-top: -10px;
  background: url("/images/instagram.png") no-repeat;
  width: 75px;
  height: 75px;
}

.social-icons .facebook {
  background: url("/images/facebook.png") no-repeat;
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons .whatsapp {
  background: url("/images/whatsapp.png") no-repeat;
  width: 75px;
  margin-top: -8px;
  height: 75px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
}

.about__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 61%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 474px;
}

.about__content-title {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
}

.about__content-divider {
  width: 100%;
  height: 9px;
  background: #F2C94C;
}

.about__content-description {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.09em;
}

.about__image {
  background: url("../images/about-restaurant.png") no-repeat;
  width: 513px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

.about__content-readmore {
  width: 129px;
  height: 54px;
  background-color: transparent;
  border: 1px solid #F2C94C;
  color: #F2C94C;
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.about__content-readmore:hover {
  background: #F2C94C;
  color: black;
  cursor: pointer;
}

.find-us {
  height: auto;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-us__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.find-us__title {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
}

.find-us__divider {
  width: auto;
  height: 9px;
  background: #F2C94C;
}

.find-us__content {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

.find-us__map {
  background: url("../images/find-us_map.png") no-repeat;
  width: 603px;
  height: 567px;
  border-radius: 5px;
}

.find-us__info {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.09em;
  margin: auto;
}

.our-menu {
  background-color: black;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 43px;
}

.our-menu__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-menu__title {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
}

.our-menu__divider {
  width: auto;
  height: 9px;
  background: #F2C94C;
}

.our-menu__description {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.09em;
}

.our-menu__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.our-menu__left {
  width: 576px;
  height: 356px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85.42%, rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/menu-pizza.png);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85.42%, rgba(0, 0, 0, 0.8) 100%), url(../images/menu-pizza.png);
  border-radius: 5px;
}

.our-menu__right {
  width: 576px;
  height: 356px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(74.48%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../images/menu-dough.png);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.48%, rgba(0, 0, 0, 0.8) 100%), url(../images/menu-dough.png);
  border-radius: 5px;
}

.our-menu__button {
  width: 129px;
  height: 54px;
  background-color: transparent;
  border: 1px solid #F2C94C;
  color: #F2C94C;
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.our-menu__button:hover {
  background: #F2C94C;
  color: black;
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
  height: auto;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
}

.menu__divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 474px;
  height: 9px;
  background: #F2C94C;
}

.menu__category,
.menu__category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 24px;
  gap: 40px;
  text-transform: uppercase;
}

.menu__category a {
  color: white;
  text-decoration: none;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
  height: 200px;
  margin: 25px 0;
}

.item__image {
  width: 273px;
  height: 200px;
  background-color: red;
  border-radius: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.item__image:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  padding: 0 18px;
}

.item__content .item__header {
  font-size: 28px;
  line-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #F2C94C;
  text-transform: uppercase;
}

.item__content .item__description {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
}

footer {
  height: 200px;
  background-color: black;
}

/* Tablet Devices */
/* Large Screens */
/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 735px) {
  body {
    width: 100vw !important;
  }
  /* Header */
  .navbar {
    width: 94.00694444444445%;
  }
  nav {
    position: fixed;
    bottom: -150%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100vh;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav li {
    margin: 20px 0;
  }
  nav li:hover {
    border: none !important;
  }
  nav li a {
    font-size: 30px;
  }
  .navbar.active {
    position: fixed;
    top: 0;
    width: 100%;
  }
  nav.active {
    bottom: -0px;
    left: 0;
    overflow: hidden;
  }
  .responsive-menu.active {
    display: block;
    z-index: 2;
  }
  .responsive-menu {
    display: block;
  }
  .responsive-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .responsive-menu.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .responsive-menu.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  /* Hero Section */
  .hero {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero__title {
    font-size: 45px;
  }
  .hero__description {
    font-size: 20px;
    line-height: 30px;
    width: 80%;
  }
  .hero__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 90%;
  }
  .hero__image:hover {
    opacity: 0.5;
  }
  /* About Section */
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* Find Us */
  .find-us__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .find-us__info {
    text-align: center;
  }
  /* Our Menu */
  .our-menu__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  /* Footer */
  footer .copyright {
    font-size: 18px !important;
  }
}

/* Reusable */
body {
  width: 75%;
  margin: 0 auto;
  background: #030000;
  font-family: 'Ruda', sans-serif;
  color: white;
}

section {
  padding: 50px 7.9861111111111%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: black;
}

footer .copyright {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  text-transform: uppercase;
}

/* Home Page:
    _hero.scss
    _about.scss
    _find-us.scss
    _our-menu.scss
*/
/* About Page */
.about-page-featured-image {
  background: url(../images/about-featured.jpg) center;
  -webkit-box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.3);
  height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 265px;
  padding: 0;
  margin: 0;
}

.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  gap: 20px;
  text-align: center;
}

.about-page__title {
  text-transform: uppercase;
  text-align: center;
}

.about-page__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 65.77px;
}

.about-page__images .about-page__images-1 {
  background: url(../images/about-page/Gia+Mia+Wheaton+Store+Front.jpg);
  width: 250px;
  height: 250px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page__images .about-page__images-1 h2 {
  visibility: hidden;
}

.about-page__images .about-page__images-1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.73))), url(../images/about-page/Gia+Mia+Wheaton+Store+Front.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.73)), url(../images/about-page/Gia+Mia+Wheaton+Store+Front.jpg);
}

.about-page__images .about-page__images-1:hover h2 {
  visibility: visible;
}

.about-page__images .about-page__images-2 {
  background-image: url(../images/about-page/GMFood_0000s_0016_Gia+Mia+fall+menu_013.jpg);
  width: 250px;
  height: 250px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page__images .about-page__images-2 h2 {
  visibility: hidden;
}

.about-page__images .about-page__images-2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.73))), url(../images/about-page/GMFood_0000s_0016_Gia+Mia+fall+menu_013.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.73)), url(../images/about-page/GMFood_0000s_0016_Gia+Mia+fall+menu_013.jpg);
}

.about-page__images .about-page__images-2:hover h2 {
  visibility: visible;
}

.about-page__images .about-page__images-3 {
  background-image: url(../images/about-page/GMFood_0000s_0016_Gia+Mia+fall+menu_013.jpg);
  width: 250px;
  height: 250px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page__images .about-page__images-3 h2 {
  visibility: hidden;
}

.about-page__images .about-page__images-3:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.73))), url(../images/about-page/GMFood_0000s_0016_Gia+Mia+fall+menu_013.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.73)), url(../images/about-page/GMFood_0000s_0016_Gia+Mia+fall+menu_013.jpg);
}

.about-page__images .about-page__images-3:hover h2 {
  visibility: visible;
}

.about-page__images .about-page__images-4 {
  background-image: url(../images/about-page/pizzaFire.jpg);
  width: 250px;
  height: 250px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page__images .about-page__images-4 h2 {
  visibility: hidden;
}

.about-page__images .about-page__images-4:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.73))), url(../images/about-page/pizzaFire.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.73)), url(../images/about-page/pizzaFire.jpg);
}

.about-page__images .about-page__images-4:hover h2 {
  visibility: visible;
}

/* Menu Page */
/* Contact Page */
.contact-survey {
  background: url(../images/Contact-Us.jpg);
  -webkit-box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.3);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}

.contact-survey h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 35px;
}

.contact-survey p {
  width: 50%;
}

.contact-survey button {
  height: 45px;
  font-size: 18px;
  text-transform: uppercase;
  border: transparent;
  background-color: #F2C94C;
  font-weight: 700;
  width: 300px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.contact-survey button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid #F2C94C;
  cursor: pointer;
}

.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  gap: 50px;
  padding: auto 5%;
}

.contact-page__content {
  width: 50%;
}

.contact-page__content .contact-page__content-image {
  background: url(../images/contact.jpg) no-repeat;
  width: 100%;
  height: 400px;
}

.contact-page__form {
  height: 100%;
  width: 50%;
}

.contact-page__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contact-page__form form input {
  height: 40px;
  font-size: 16px;
  padding: 5px;
}

.contact-page__form form button {
  background-color: dodgerblue;
  font-size: 18px;
  height: 40px;
  border: none;
  color: white;
  padding: 5px;
  text-transform: uppercase;
}

.contact-page__form form button:hover {
  background-color: transparent;
  border: 2px solid dodgerblue;
}
/*# sourceMappingURL=style.css.map */